name: Symfony

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    steps:
    #  To automatically get bug fixes and new Php versions for shivammathur/setup-php,
    # change this to (see https://github.com/shivammathur/setup-php#bookmark-versioning):
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
    - uses: actions/checkout@v5
    - name: Copy .env.test.local
      run: php -r "file_exists('.env.test.local') || copy('.env.test', '.env.test.local');"
    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
    - name: Cache Composer packages
      uses: actions/cache@v4
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-
    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction

    - name: Lint YAML files
      run: bin/console lint:yaml config --parse-tags

    - name: Lint TWIG files
      run: bin/console --env=test lint:twig

    - name: Lint Containers
      run: bin/console lint:container

    - name: Static Analysis
      run: vendor/bin/phpstan

    - name: Create Database and fill with data
      run: |
        bin/console --env=test doctrine:database:create
        bin/console --env=test doctrine:schema:create
        bin/console --env=test doctrine:fixtures:load -n

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      run: bin/phpunit
